.btn{
   background-color: rgb(5, 5, 54);
   color: rgb(53, 209, 14);
    cursor: pointer;
  border-radius: 10000px;
  padding: 12px 24px;
  border-radius: 120px;
  border-color: rgb(53, 209, 14);

}
.gradient-btn{
    background: linear-gradient(45deg, #ff4ecd, #7f00ff);
     color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 10000px;

}
.navbar {
    max-width: 97.2%;
    margin: auto;
    padding: 28px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 4, 90, 0.616);
    display: flex;
    width: 2200px;
    color: white;
   

}
nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.tech1{
    color: linear-gradient(45deg, #ff4ecd, #7f00ff);
    font-weight: bold;
    font-size: xx-large;
    font-style: normal;
}
.tech{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    font-style: normal;
}


.font-oswald  {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner{
    background-image:url('/assets/hero-bg02.png');
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-size: cover;
background-position:center;
max-width: 100%;
}
.hero-circle{
    align-items: center;
  
    width: 350px;
}
.hero-content h1{
    margin-bottom: 12px;

}
}
.hero-content p{
    max width: 16px;
    margin-bottom: 20px;

}
.about-container{
    flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 80px 200px 200px 200px;
background:rgba(44, 6, 184, 0.05);
color: white;
}

.episodes h1 {
    text-align: center;
    
}
.about-container h2{
align-items: center;
justify-content: center;
}

body{
background:#050b18;
color:white;
font-family:Arial;
}

.about-container{
text-align:center;
max-width:800px;
margin:0 auto 60px;
color:white;
}

.about-container h2{
font-size:40px;
margin-bottom:20px;
}

.about-container p{
opacity:.8;
line-height:1.6;
}

.about-container1{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
max-width:1000px;
margin:0 auto;
text-align:center;
}

.about-card h1{
font-size:42px;
background:linear-gradient(90deg,#00f5ff,#6cffd6);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
margin-bottom:8px;
}

.about-card h5{
color:#aaa;
font-weight:400;
}
.episodes{
padding:60px;
}



.card{
background:rgba(44, 6, 184, 0.05);
border-radius:20px;
padding:20px;
position:relative;
}

.card img{
width:100%;
border-radius:15px;
}

.play{
position:absolute;
top:80px;
left:50%;
transform:translateX(-50%);
background:linear-gradient(45deg,#ff00cc,#3333ff);
padding:12px 16px;
border-radius:50%;
}

.card h3{
margin-top:15px;
}

.card p{
opacity:.7;
}

.time{
color:#00ffb3;
}


.footer-nane{
   color:linear-gradient(90deg,#7f00ff,#00c6ff)
}

.footer{
width:100%;
background-image:url("./assets/footer-bg.png");
background-size:cover;
background-position:center;
padding:80px 0;
margin-top:100px;
}

.footer-container{
display:flex;
flex-direction:column;
align-items:center;
gap:20px;
}

.footer-social{
display:flex;
justify-content:center;
}

.social-icons{
display:flex;
gap:25px;
}

.social-icons img{
width:32px;
height:32px;
}

.footer-copy{
color:white;
text-align:center;
margin-top:20px;
}